/.idea/
modified_codes/*
Manual.docx
rc.local

!www/
www/*
!www/guidestar/
www/guidestar/*

!www/guidestar/guidestar_m.html
!www/guidestar/imageviewer_m.php
!www/*xcx*
!www/dslrcounter.c
!www/manage.php
!www/dslr1.c
!www/manage_m.php
!www/dslr.php
!www/shutter3.sh
!www/style-rs-mob.css
!www/desc.html
!www/m.html
!www/1.jpg
!www/2.png
!www/3.png
!www/dslr1
!www/dslrcounter
!www/iAH3_manual.pdf