html, body {
	width: 800px;
	max-width: 800px;
	background-color:#000000;
	color:#C00000;
	font-family: sans-serif-light, sans-serif; 
	font-style: normal;
	font-size: 32px;
	padding: 0;
	margin: 0;
}

p {
	margin: 4px 0px 4px 0px;
	padding: 0px;
}

a {
	color: #C00000;
	font-size: 40px;
}

hr {
	border: 0 none;
	height: 4px;
	background-color: #450000;
	margin: 4px 0px 2px 0px;
}

div#guidegraph {
	background-color:#000000;
	max-width: 792px;
	padding: 4px;
	margin: 4px 0px 4px 0px;
}

div.containers {
	background-color:#500000;
	width: 792px;
	max-width: 792px;
	padding: 8px 4px 10px 4px;
	border-radius: 20px;
	margin: 4px 0px 28px 0px;
}

h2 {
	width: 776px;	
	margin: 4px 8px 8px 8px;
	font-family: sans-serif-light, sans-serif;
	font-weight: normal;
	font-size: 40px;
	color: #F06060;
}

h3 {
	width: 776px;	
	margin: 28px 8px 8px 8px;
	font-family: sans-serif-light, sans-serif; 
	font-weight: normal;
	font-style: italic;
	font-size: 36px;
	color: #D85050;
}

.rowText {
	width: 776px;
	margin: 12px 8px 0px 8px;
	padding: 0px;
	height: 48px;
	color: #DA0000;
	font-size: 36px;
	display: block;
}

.right {
   position: absolute;
   left: 404px;
}

input[type="text"] {
	background-color:#350000;
	border-style:solid ;
	border-color:#900000;
	border-radius: 12px;
	border-width: 4px;
	color:#F02020;
	font-size: 40px;
	font-family: sans-serif-light, sans-serif; 
	font-style: normal;
	width: 383px;
	height: 88px;
	padding: 4px 6px 4px 6px;
	margin: 2px 4px 10px 4px;
}

input[name="statusbar"] {
	background-color: #300000;
	color: #F06060;
	border-color: #B90000;
	font-size: 40px;
	font-weight: bold;
	margin: 4px 8px 4px 8px;
	width: 784px;
}

input[name="logtips"] {
	background-color: #300000;
	color: #F06060;
	border-color: #B90000;
	font-size: 40px;
	font-weight: bold;
	margin: 4px 8px 4px 8px;
	width: 784px;
}

#msg_ccd {
	color:#F02020;
	font-family: sans-serif-light, sans-serif; 
	font-size: 40px;
	padding: 6px 0px 12px 16px;
	display: block;
	width: 784px;
	overflow: hidden;
}

input[type="button"] {
	color: #000000;
	background-color:#C00000;
	font-family: sans-serif; 
	font-style: normal;
	font-size: 40px;
	border: 4px solid;
	border-color: #200000;
	border-radius: 12px;
	padding: 0px;
	margin: 2px 4px 10px 4px;
	height: 88px;
}

.full_button {
	width: 784px;
	}

.half_button {
	width: 383px;
	}

.half_button_r {
	width: 383px;
	float: right;
	}

.quarter_button {
	width: 182px;
	}

input[value="Guide"], input[value="导星"] {
	background-color:#B09000;
	border-color:#707000;
	font-weight: bold;
}

input[value="Stop"], input[value="停止"] {
	background-color:#FF0000;
	border-color:#990000;
	font-weight: bold;
}

input[value="Calibrate"], input[value="校准"] {
	font-weight: bold;
}

input[value="Start"], input[value="开始"]  {
	background-color:#B05000;
	border-color:#704000;
	font-weight: bold;
}

select {
	background-color:#350000;
	color:#F02020;
	border-style: solid;
	border-width: 0px 0px 4px 0px;
	border-color: #900000;
	font-family: sans-serif-light, sans-serif; 
	font-style: normal;
	font-size: 40px;
	text-align: center;
	padding: 12px 0px 12px 10px;
	margin: 2px 4px 10px 4px;
	width: 383px;
	height: 86px;
}

select[name="autoguiderExp"] {
	width: 784px;
	height: 86px;
}

input[name="filename"]  {
	width: 100%;
}

input[value="Y-"],  input[value="Y+"], input[value="Clear"], input[value="Clear Graphs"]， input[value="清除记录"] {
	background-color: #000000;
	border-color: #B90000;
	color: #BA0000;
}

input[value="Admin"], input[value="管理设置"] {
	background-color: #000000;
	color: #BA0000;
	border-color: #B90000;
	font-weight: bold;
}

#returned_msg {
	font-size: 40px;
	max-width: 792px;
	width: 792px;
	display: block;
	overflow: Auto;
}

/* For QSI default page: */
select.QSI { 
	width: 182px;
}

/* For admin page: */

input[value="Start Apps"], input[value="Start VNC Server"], input[value="启动App"], input[value="启动VNC"] {
	background-color:#B05000;
	border-color:#704000;
	font-weight: bold;
}

select[name="camid"] {
	width: 182px;
}

input[value="REBOOT iAstroHub"], input[value="重启"] {
	background-color:#F00000;
	border-color:#F00000;
	font-weight: bold;
}

input[value="SHUTDOWN iAstroHub"], input[value="关机"] {
	background-color: #000000;
	color: #BA0000;
	border-color: #B90000;
	font-weight: bold;
}

/* For guidestar: */

 .toolbar
            {
                border: 4px solid #C00000;
                position: absolute;
                top: 8px;
                left: 8px;
                right: 8px;
                height: 216px;
				font-size: 40px;
				padding: 6px 0px 0px 8px;
            }

 .viewer
            {
                height: 100%;
                position: relative;
                background-color: #600000;
            }
            
.wrapper
            {
                border: 4px solid #C00000;

                position: absolute;
                top: 216px;
                left: 8px;
                bottom: 8px;
                right: 8px;

                overflow: hidden; /*for opera*/
            }

.F_right {
		float: right;
	}

.toolbarimg
			{
                border: 4px solid #C00000;
                position: absolute;
                top: 8px;
                left: 8px;
                right: 8px;
                height: 216px;
				font-size: 40px;
				padding: 6px 0px 0px 8px;
            }
	
.wrapperimg
            {
                border: 4px solid #C00000;

                position: absolute;
                top: 216px;
                left: 8px;
                bottom: 8px;
                right: 8px;

                overflow: hidden; /*for opera*/
            }
	
select[name="videogain"] {
	width: 120px;
}

#SetGain {
	background-color:#000000;
	border-color: #B90000;
	color: #BA0000;
}
#status {
	display: block;
	margin: 16px 0px 0px 0px;
	float: left;
}